<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <include file="Index:head"/>
	    <link href="__PUBLIC__/admin/css/base.css" rel="stylesheet">
	    <style>
	    .m-top-md{margin-top:10px; font:12px/1.5 Microsoft YaHei,Helvitica,Verdana,Arial,san-serif}
	    .m-top-mdd,.btn.btn-info {margin-top: 10px; font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif}
	    </style>
  	</head>
  	<body class="overflow-hidden">
		<div class="wrapper preload">
			<include file="Index:top"/>
			<include file="Index:left"/>
			<div class="main-container">
				<div class="padding-md">
					<div class="row">
						<div class="pageheader" style="padding:0px 10px 10px 10px; border-bottom:0px; background:#FFF">
							<div style="border-bottom:1px #D8DBDB solid; padding:5px;font: 12px/1.5 Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;">
								<if condition="ACTION_NAME eq 'edit'">
									<h3 style="margin:0;">修改管理员信息</h3>
									<else/>
									<h3 style="margin:0;">添加管理员</h3>
								</if>
						    </div>
						</div>
					</div>

					<div class="row m-top-md">
						<div class="col-lg-12 col-sm-6">
							<form class="Huiform" id="loginform" action="" method="post">
								<table width="50%" class="tabled m-top-md">
									<tbody>
									<tr>
										<td>账号：</td>
										<td><input name="account" type="text" class="form-control width200" value="{$row.account}" placeholder="账号" /></td>
									</tr>
									<tr>
										<td>密码：</td>
										<td><input name="password" type="password" class="form-control width200" placeholder="密码" /></td>
									</tr>
									<tr>
										<td>
											<button type="submit" class="btn btn-info" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
										</td>
										<td>
										</td>
									</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>

				</div><!-- ./padding-md -->
			</div><!-- /main-container -->
		</div><!-- /wrapper -->
	<include file="Index:foot"/>
  	</body>
</html>